/* Reset and Base Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFE4E1; /* Misty Rose */
    color: #333333; /* Dark Gray Text */
}

/* Makeup Quiz Page Specific Styles */
body.makeup-quiz-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF; /* White */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
    margin: auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #CC0066; /* Dark Pink */
    margin-bottom: 20px;
}

h2, h3 {
    font-family: 'Merriweather', serif;
    color: #333333; /* Dark Gray */
    margin-bottom: 15px;
}

.question {
    margin-bottom: 30px;
}

.question h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #CC0066; /* Dark Pink */
}

.question label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.quiz-button {
    background-color: #CC0066; /* Dark Pink */
    color: #FFFFFF; /* White */
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.quiz-button:hover {
    background-color: #FF1493; /* Deep Pink */
}
